body {
    font-family: 'Brush Script MT', Cursive;
    background-color: #074173;
    margin: 0;
    padding: 20px;
    background: url('../img.jpg');
    height: 100%;
    /* background-size:100%; */
    background-repeat: no-repeat;
}

h1 {
    color: #5DEBD7;
    text-align: center;
    font-size: 50px;
}

h2 {
    color: #5DEBD7;
    text-align: center;
    font-size: 30px;
}

.movie_name {
    font-family: 'Brush Script MT', Cursive;
    display: block;
    width: 300px;
    background-color: #1679AB;
    padding: 10px;
    font-size: 16px;
    color: #C5FF95;
    border-radius: 5px;
    margin: 20px auto;
}
.movie_name:hover{
    font-family: 'Brush Script MT', Cursive;
    display: block;
    width: 300px;
    background-color: #1679AB;
    padding: 10px;
    font-size: 16px;
    color: #C5FF95;
    border-radius: 5px;
    border: 3px solid #5DEBD7;
    margin: 20px auto;
}

#recommendButton {
    font-family: 'Brush Script MT', Cursive;
    display: block;
    width: 200px;
    padding: 10px;
    font-size: 16px;
    background-color: #5DEBD7;
    color: #074173;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
}

#recommendButton:hover {
    background-color: #074173;
    color: #C5FF95;
    border: 3px solid #C5FF95;
}

.suggestions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.row_posters_container {
    display: flex;
    align-items: center;
    width: 80%;
    padding:5px;
    position: static ;
    justify-content: center;
}

.row_posters {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    align-items: start;
    position: relative;
    width: 80%;
    padding: 5%;
    gap: 50px ;
}

.row_posters div {
    text-transform: capitalize;
    width: 130px; /* Fixed width */
    height: auto;
    color: aqua;
    font-size: 20px;
    text-align: center;
    flex: 0 0 auto;
    word-wrap: break-word; /* Ensure text wraps within the fixed width */
    overflow-wrap: break-word; /* Modern CSS property for handling word breaks */
}

.row_posters img {
    width: 150px;
    height: 250px ;
    padding: 10px;
}

.nav {

    background-color: #6c6c7109;
    border: none;
    cursor: pointer;
    padding: 10px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    font-size: 50px;
    color: #C5FF95
}

.left-nav {
    left: 0%;
}

.right-nav {
    right: 0%;
}